/* ~ GENERAL ~ */
  * {
    box-sizing: border-box;

  }

  html, body {
    width: 100%;
    height:100%;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    background-color: #fff7e0;
  }

  .container-fluid {
    padding: 0;
  }

  .btn {
    border-radius: 50px;
    background-color: #BF3C1F;
    color: white;
    padding: 1rem 2rem 1rem 2rem;
  }

  img {
    width: 100%;
  }

  .content-row {
    min-height: fit-content;
    height: -webkit-fill-available;
    margin: 0 0 45px 0;
  }

  .col {
    z-index: 9;
  }

  /* Text */
  h1{
    font-family: 'Raleway', sans-serif;
    font-size: 4.5rem;
  }

  h2 {
    font-size: 3rem;
    font-weight: 100;
  }

  h3 {
    font-size: 2rem;
    font-weight: 200;
  }

  p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
  }

  .section-header {
    margin-left: 3rem;
    margin-bottom: 1rem;
  }
/* ~ WAVE ~ */
  .home svg.wave, .about-wave {
    position: absolute;
    top: -100px;
    right: 0;
    height: 100vh
  }
  @media screen and (min-width: 900px) {
    .wave .about-wave {
      top:0
    }
  }

  .home svg.wave path.wave-shape {
    fill: #bf3c1f;
    max-height: 861px;
    height: 100%;
    max-width: 100%
  }

  .home svg.wave path.wave-shape, .home svg.wave path.wave-outline {
    stroke: #bf3c1f;
    stroke-miterlimit: 10;
  }

  .home svg.wave path.wave-outline {
    fill: none;
    stroke-width: 2px;
    position: absolute;
    top: 0;
    right: 0;
    max-height: 861px;
    height: 100%;
    width: 100%;
  }

  .about-wave {
    top: 0;
    right: -10rem;
    height: 1080px;
  }

  @media screen and (min-width: 900px) {
    .about-wave {
      top: 130px;
    }
  }

  .about-wave-shape {
    fill: #BF3C1F;
  }

  .about-wave-shape, .about-wave-outline {
    stroke: #bf3c1f;
    stroke-miterlimit: 10;
  }

  .about-wave-outline {
    fill: none;
    stroke-width: 2px;
    position: absolute;
    bottom: 0;
    right: 0;
    max-height: 1164px;
    width: 100%;
  }

  @media screen and (min-width: 900px) {
    .about-wave-outline {
      right: -40px;
    }
  
  }
/* ~ SIDENAV ~ */
  #sidenav-row {
    position: fixed;
    top: 3%;
    right: 5%;
    z-index: 10;
  }

  #sidenav-btn {
    display: flex;
    justify-content: flex-end;
  }

  #sidenav-btn span{
    font-size: xx-large
  }

  /* The side navigation menu */
  .sidenav {
    height: 100%; /* 100% Full-height */
    width: 250px; /* 0 width - change this with JavaScript */
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #F9CEC7; /* Light Pink*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    z-index: 11;
  }

  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-weight: 200;
    font-size: 25px;
    color:black;
    display: block;
    transition: 0.3s;
    display: flex;
    align-self: center;
    
  }

  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #BF3C1F;
  }

  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

/* ~ ABOUT ~ */
  #about {
    margin-top: 45px;
  }

  #about-col {
    margin-left: 3rem;
    z-index: 11;
  }

/* ~ SKILLS ~ */
  #skills-block-row {
    justify-content: center;
    margin: 0 4rem 0 4rem;
  }

  .skills-block {
    background: #fff7e0;
    border: 3px solid #BF3C1F;
    width: 100%; 
    height: 37rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 .5rem 0 1.5rem;
  }

  #skills-to-resume-btn-row {
    margin: 2rem 0 0 0;
  }

/* ~ RESUME ~ */
  .resume-row {
    margin: 0 3rem 2rem 3rem;
  }

  .resume-subrow {
    margin-bottom: 1rem;
  }

  .resume-section-header {
    margin-bottom: 1rem;
  }
  .resume-skills-block {
    background: #BF3C1F;
    height: 10rem;
  }

  .resume-block {
    background: #BF3C1F;
    height: 10rem;
    padding: 0 1rem 0 1rem;
  }

  #right-align-btn-col {
    padding: 0 3rem;
    display: flex;
    justify-content: flex-end;
  }

/* ~ CONTACT ~ */
  #contact {
    margin: 0;
  }
  #contact-section-header {
    margin: 3rem 0;
  }
  #contact-info-row {
    justify-content: center;
  }
